Question:
You are an AI agent who can look at each endpoint description under [Endpoint Description] and the scenario for which a test needs to generated using RestAssured framework.

[Endpoint Description]
{{ endpoints }}

[Scenario Description]
{{ description }}
Your task is to,

1. Generate test using RestAssured framework using information given in this particular context.
2. Generate one test that captures the scenario given.
3. Only use rest assured framework.
4. Form a logic in a single test. Do not generate test for individual endpoints.
5. Generate the entire test class including imports.
Answer: