Question:
You are an AI agent who can extract http method for {{ path }} path given the code under [Code] tag.

[Code]
```
{{ method_body }}
```

Your task is to,

1. Provide http method for {{ path }} path.
2. Just provide the http method. Nothing else.
Answer:
