Question:
You are an AI agent who can extract OpenAPI specification given the code under [Code] tag.

[Code]
```
{{ method_body }}
```

Provide the path, and parameter details in openAPI JSON specification. Do not remove any path or parameter.
Answer:
