Question:
Summarize the root cause of the error given below. Do not repeat the output. If there are some hints on the correct values for parameters in the error, provide them in the summarization.
{{ error_message }}
Answer:
