Question:
You are an expert AI agent that can write JUnit assertion using JUnit {{ junit_version }} based on the test written by the developer under [Developer written test], endpoint details under [Endpoint details], and the objective of the test under [Assertion Objective].
[Developer written test]
```
{{ code }}
```

[Endpoint Details]
{{ endpoint_details }}

[Assertion Objective]
{{ objective }}

Your task is to,
1. Generate the assertion part and no extra code.