Question:
You are an expert in extracting parameter type for http parameters. Please list the types the http parameters and what they have been typecast to. Generate the output in JSON format with the parameter name as the key and the type as value. Use [Method body] to get the types. Do not add any code.

[List of parameters]
```
{{ parameter_names }}
```
[Method body]
```
{{ method_body }}
```
Answer:
